package templates

templ Home(){
    wait, can we? yes!
    if true {
        should rerun right?
    }
    <main>
    we can run lol dosdfsdfn't run pelase -- wait yo ran? don't run yes() again
            <p>This is the main content aresdfa.</p>
        </main>
        i think itso
}